* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

.builder__form {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

.builder__flex--align-end {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin: 1rem 0;
  height: 2rem;
}

.builder__flex--align-end label {
  flex-shrink: 0;
}

.builder__text-input {
  width: 100%;
}

.builder__checkbox {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 26px;
  width: 1rem;
  justify-self: center;
  flex-shrink: 0;
}

.builder__checkbox > div:first-child {
  margin-bottom: 4px;
}

@media only screen and (max-width: 670px) {
  .builder__flex--align-end {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }
  .builder__form {
    padding: 1rem;
  }
}

@media only screen and (max-width: 400px) {
  .builder__form {
    padding: 0.5rem;
  }
}
