* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

.survey__form {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

.survey__flex--align-end {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin: 1rem 0;
  height: 2rem;
}

.survey__flex--align-end label {
  flex-shrink: 0;
}

.survey__text-input {
  width: 100%;
}

.survey__checkbox {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 26px;
  width: 1rem;
  justify-self: center;
  flex-shrink: 0;
}

.survey__checkbox > div:first-child {
  margin-bottom: 4px;
}
