.answerWrapper {
  display: flex;
  align-items: end;
}

.checkbox {
  display: flex;
  align-items: center;
}

.orderArrows {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.inputRow {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-shrink: 0;
}

.answerRow {
  flex-grow: 1;
}

@media only screen and (max-width: 670px) {
  .answerRow {
    width: 100%;
  }
}
